.full-width {
    width: 100%
}

.mat-card-content {
    margin: 0 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.my-form {
    text-align: center;
    margin: auto;
}

.signup-form {
     width: 600px;
     display: inline-block;
     margin-top: 100px;
}