
<div style="text-align: center; font-weight: 500px; font-size: 26px; width: 500px; margin-top: 100px; margin: auto">
  <mat-card>
    <mat-card-header>
      <mat-card-title>VERIFY ACCOUNT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>You have successfully registered, please verify your email.</p>
      <button color="primary" mat-raised-button custom-btn btn-primary (click) = "resendVerifyEmail()">Resend Verification Email</button>
      <!-- <p>
        Already verified? <a [routerLink]="'/login'">Go to Login Page</a>
      </p> -->
    </mat-card-content>
  </mat-card>

</div>