
<div class="my-form">
  <form class="signup-form" [formGroup]="resetPassForm" novalidate
  (ngSubmit)="resetPassForm.valid && resetPassword()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="resetPassForm.controls['password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <!-- <mat-error *ngIf="loginUserFormGroup.controls.email?.invalid">
                This email is <strong>invalid</strong>
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
