
<form class="profile-form" [formGroup]="changePasswordFormGroup" novalidate (ngSubmit)="changePasswordFormGroup.valid">
  <h4 style="margin-top:0;">Change Password</h4>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Old Password" type="password" formControlName="oldPassword">
        <mat-error *ngIf="changePasswordFormGroup.controls.oldPassword.errors ">
          <span *ngIf="changePasswordFormGroup.controls.oldPassword.errors?.required">Old Password is
            <strong>required</strong></span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="New Password" type="password" formControlName="newPassword">
        <mat-error *ngIf="changePasswordFormGroup.controls.newPassword.errors ">
          <span *ngIf="changePasswordFormGroup.controls.newPassword.errors?.required">Password is
            <strong>required</strong></span>
          <span *ngIf="changePasswordFormGroup.controls.newPassword.errors?.minlength">Minimum length for password is
            8</span>
          <span *ngIf="changePasswordFormGroup.controls.newPassword.errors?.same">Old and New Passwords can't be same.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordFormGroup.controls.confirmPassword.errors ">
          <span *ngIf="changePasswordFormGroup.controls.confirmPassword.errors?.required">Confirm Password is
            <strong>required</strong></span>
          <span *ngIf="changePasswordFormGroup.controls.confirmPassword.errors?.minlength">Minimum length for
            password is 8</span>
          <span *ngIf="changePasswordFormGroup.controls.confirmPassword.errors?.notSame">Passwords doesn't
            match</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" (click)="changePassword()">Save Changes</button>
  <button mat-button mat-dialog-close="cancel" cdkFocusInitial>Cancel</button>
</form>