table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.createButton {
    float: right;
}


td, th {
    width: 25%
}

.mat-card-content {
    margin: 0 16px;
}

.list-btn {
    color: #3f51b5;
    max-width: 40px;
}

.list-btn-delete {
    color: #3f51b5;
    margin: 10px;
}