<mat-card style="margin: 20px">
  <mat-card-header>
    <mat-card-title>{{categoryName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="createButton" (click)="createNote()">Create Note<mat-icon>add
      </mat-icon></button>
    <div *ngIf="!noteList?.length" style="text-align: center; color:gray">
      <h2>No Notes Found</h2>
    </div>
    <div [hidden]="!noteList?.length">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element" style="cursor:pointer; " (click)="viewNote(element)"> {{element.title}}
          </td>
        </ng-container>
        <!-- Updated Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> Updated At </th>
          <td mat-cell *matCellDef="let element"> {{element.updated_at | date}} </td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="viewNote(element)" class="list-btn">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-raised-button (click)="deleteNote(element)" class="list-btn-delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource?.length" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>